extends base.pug

block scripts
    script(src="static/index.js")
block style
    style 
        include ../static/style.css
        include ../static/styleServices.css
block content
    .cards
        .card 
            H1 Join our classes
            div.card-cont
                .card-img 
                    p
                        |Are you ready to discover the joy of dance? At Verve Dance Academy, we offer a range of classes for students of all ages and skill levels. Whether you're a beginner or an advanced dancer, we have a program that will challenge and inspire you. Our classes are taught by experienced professionals who are dedicated to helping you develop your technique, artistry, and confidence. We offer a range of pricing options to fit every budget, as well as discounts for siblings and multiple class enrollments. Join our community of dancers today and discover the transformative power of dance. Visit our website to view our class schedule and enroll today.
                    <button class="btn">Know more</button>
        .card 
            H1 Earn with us
            div.card-cont
                .card-img 
                    p
                        |At Verve Dance Academy, we are always looking for passionate and experienced dance teachers to join our team. If you are dedicated to providing high-quality dance education and creating a supportive and inclusive environment for students, we would love to hear from you. We offer competitive compensation, ongoing professional development opportunities, and a supportive and collaborative team environment. To apply, please submit your resume and a cover letter outlining your teaching experience and philosophy.
                    <button class="btn">Know more</button>
                        
        